version: '3.9'

services:
  api:
    build: .
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - redis
      - db

  redis:
    image: "redis:7"

  db:
    image: postgres:16
    environment:
      - POSTGRES_USER=ygarg
      - POSTGRES_PASSWORD=123456
      - POSTGRES_DB=auth_service
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: